*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  
}

.encabezado{
  height: 90vh;
  background-size: cover;
  background-image: url("../img/frente.jpeg") ;
  background-repeat: repeat;
  
}
.collapse{
align-content: space-between;
}

/*
.fila{
  border: 2px solid black;
  height: 280px;
  background-color: #999;
}

.functionaImg{
  
  height: 180px;  

}
.femina{
  border: 2px solid gray;
  position: relative;
  top:10vh;
  left: 16%;
}
.redes{
  margin: 2px;
  height: 15vh;
}*/

/*whats flotante*/
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}
/*fin whats flotante*/


@media (max-width: 576px) {
  body{
    background-color: rgb(78, 71, 71);
  }
 }


@media (max-width: 576px) {
  
  h1{
    font-size: 1em;
  }
  .redes{
    margin: 3px;
    height: 45px;
    width: auto;
  }
  h2{
    font-size: 0.75em;

  }

  p{
    font-size: 0.5em;
  }
    }
    .horario{
      font-size: 1rem;
      border: 1px solid rgb(238, 139, 222);
    }

    /*media del cuadro horario*/
    @media (max-width: 576px) {
      .horario{
        font-size: 0.6em;
        border: 1px solid rgb(241, 228, 223);
      }
    }

    @media (max-width: 405px) {
      .horario{
        font-size: 0.4em;
        border: 1px solid rgb(50, 37, 33);
      }
    }

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(222, 183, 164);
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    font-size: 2rem;
    margin: 0 auto;
    padding-right: 5px;
    font-family: "Courier New";
    border-right: 0.15em solid #18bdec;
    animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  


.carousel-item{
    height: 60vh;
}
.logo{
    height: 1px;
    width: 1px;
}
img{
    width: 50vh;
    height: 60vh;
}